@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1em;
}
img {
  max-width: 100%;
}

/* grid 추가 */
@media (min-width: 1560px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
  }
  .col-xxl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  color: #ffffff;
}

.navbar {
  padding: 1.5rem 4rem;
}
.navbar-brand {
  font-family: 'Marcellus SC', serif;
  font-size: 42px;
  width: 114px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -57px;
  margin-right: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,1);
  padding-right: 2.5rem;
  padding-left: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,0.5);
}
.navbar-light .navbar-nav .nav-link.segneture {
  font-family:  'Marcellus', serif;
  font-size: 18px;
  padding-top: 0.4rem;
  margin-left: -1.3rem;
}
.navbar-light .navbar-nav .nav-link.segneture:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 9px;
  vertical-align: middle;
  background: url('./images/navlist-point.svg') center/cover no-repeat;
  margin-right: 1rem;
}
/* 네비 우측 버튼 */
.btn-goToWish,
.btn-goToCart {
  border-radius: 50px;
  height: 44px;
  padding-top: 4px;
  background: #ffffff;
}
.btn-goToWish:hover,
.btn-goToCart:hover {
  background-color: #fffb00;
}
.btn-goToWish .count,
.btn-goToCart .count {
  display: inline-block;
  min-width: 20px;
  text-align: center;
  vertical-align: middle;
  margin-top: 2px;
  margin-left: 8px;
}
.btn-goToWish {
  margin-right: 10px;
}

@media (max-width: 991px) {
  .navbar {
    padding: 1rem;
    z-index: 10000;
    background-color: #fff;
    border-bottom: 1px #000 solid;
    justify-content: flex-end;
  }
  .navbar-light .navbar-brand {
    top: 23px;
  }
  .navbar .btns {
    display: none;
  }
}

/* 메인 키 비주얼 이미지 */
.keyVisual {
  background: transparent;
  color: #000;
}
.keyVisual .label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.keyVisual .artistName-en {
  font-family:  'Marcellus', serif;
  font-size: 80px;
}
.keyVisual .artistName-kr {
  font-size: 40px;
  font-weight: 400;
}
.keyVisual .kvImg {
  position: relative;
  background-blend-mode: overlay;
  background: hsl(187, 46%, 85%) url('./images/kv.jpg') center/cover no-repeat;
  text-align: center;
  z-index: -1;
}
.keyVisual .kvImg:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -7%;
  width: 25%;
  height: 38%;
  background: url('./images/graphic.svg') top left/auto 100% no-repeat;
}
.keyVisual .kvImg figure {
  max-width: 80%;
  height: calc(100% - 130px);
  margin: 0 auto 0;
}
.keyVisual .kvImg figure figcaption .title {
  display: block;
  margin: 30px 0 8px;
}
.keyVisual .kvImg figure figcaption .info {
  font-size: 13px;
}

.keyVisual .artistStory {
  margin-top: 70px;
}
.keyVisual .artistStory .flex {
  display: flex;
}
.keyVisual .artistStory .image {
  width: 37%;
}
.keyVisual .artistStory .image img {
  width: 100%;
}
.keyVisual .artistStory .text {
  width: 63%;
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 1.5em;
  text-align: justify;
}

.btn-readMore {
  font-size: 0;
  width: 143px;
  height: 29px;
  background: url('./images/btnReadMore.svg') center/143px auto no-repeat;
  border: 0;
}

@media (max-width: 991px) {
  .keyVisual {
    margin-bottom: 0;
  }
  .keyVisual > .container {
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .keyVisual .artistName-en {
    font-size: 60px;
  }
  .keyVisual .artistName-kr {
    font-size: 30px;
  }
  .keyVisual .artistStory {
    margin-top: 40px;
  }
  .keyVisual .kvImg figure {
    padding: 60px 0 30px;
  }
}
@media (min-width: 992px) {
  .keyVisual {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 825px;
  }
  .keyVisual .artistStory {
    width: 45%;
  }
  .keyVisual .kvImg {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
    min-height: 825px;
  }
  .keyVisual .kvImg:after {
    bottom: -50px;
    width: 156px;
    height: 262px;
  }
  .keyVisual .kvImg figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 30px;
  }
  .keyVisual .kvImg figure img {
    max-width: 100%;
    max-height: calc(100% - 70px);
  }
}
@media (min-width: 1199px) {
  .keyVisual .artistStory {
    width: 38%;
  }
}
@media (min-width: 1560px) {
  .keyVisual .artistStory {
    width: 30%;
  }
  .keyVisual .kvImg:after {
    bottom: -70px;
    width: 210px;
    height: 305px;
  }
}


/* 스페셜 오더 */
.specialOrder h2 {
  font-family: 'Marcellus', serif;
  font-size: 40px;
}
.specialOrder .pageCaption {
  font-size: 14px;
}
.specialOrder .card-columns {
  -webkit-column-gap: 10%;
  -moz-column-gap: 10%;
  grid-column-gap: 10%;
  column-gap: 10%;
}
.specialOrder .card-columns .card {
  border: 0;
  margin-bottom: 3rem;
  overflow: visible;
}
.specialOrder .card-columns .card a {
  color: #000000;
  text-decoration: none;
}
.specialOrder .card-columns .card .thumbnail img {
  width: auto;
  max-width: 100%;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .5s;
  transition-property: opacity;
  transition-duration: .5s;
}
.specialOrder .card-columns .card h3 {
  font-size: 24px;
}
.specialOrder .card-columns .card .options {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

@media (min-width: 576px) {
  .specialOrder .card-columns {
    column-count: 1;
  }
}
@media (min-width: 768px) {
  .specialOrder .card-columns {
    column-count: 2;
  }
  .specialOrder .card-columns .card h3 {
      width: calc(100% + 3rem);
  }
}
@media (min-width: 992px) {
  .specialOrder h2 {
    margin-top: -65px;
  }
  .specialOrder .card-columns {
    column-count: 3;
  }
  .specialOrder .card-columns .card h3 {
    width: calc(100% + 2rem);
  }
}
@media (min-width: 1052px) {
  .specialOrder .card-columns .card h3 {
    width: calc(100% + 4rem);
  }
}
@media (min-width: 1200px) {
  .specialOrder .card-columns .card h3 {
    width: calc(100% + 2rem);
  }
}
@media (min-width: 1300px) {
  .specialOrder .card-columns .card h3 {
    width: calc(100% + 6rem);
  }
}

/* 상품 박스 공통 */
.productBlock .thumbnail {
  position: relative;
}

/* 베스트, 신상 */
.otherProducts {
  background: #000000;
  padding: 80px 0 100px;
}
.otherProducts h2 {
  font-family:  'Marcellus', serif;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 1.8rem;
}
.otherProducts .row > div {
  background: #ffffff;
  position: relative;
  padding: 0 0 35px;
  border: 1px #000 solid;
}
.otherProducts a {
  color: #000000;
  text-decoration: none;
}
.otherProducts .thumbnail {
  width: 100%;
  height: 234px;
  background-color: #272727;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.otherProducts .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.otherProducts a:hover .thumbnail img {
  transform: scale(1.07);
}
.otherProducts .block-body {
  padding: 0 22px;
}
.otherProducts h3 {
  font-family: 'Marcellus', serif;
  font-size: 18px;
  margin-bottom: 12px;
}
.otherProducts .options {
  font-size: 14px;
  line-height: 1.5em;
}
.otherProducts .price {
  position: absolute;
  bottom: 5px;
}

/* footer */
footer .container {
  background: url('./images/graphic.svg') left 15px center/102px auto no-repeat;
}
footer .container .brand {
  display: block;
  font-family: 'Marcellus SC', serif;
  font-size: 42px;
  margin: 15px 0;
}
footer .nav .nav-link {
  color: rgba(0,0,0,1);
  padding-right: 2.5rem;
  padding-left: 0;
}
footer .nav .nav-link:hover {
  color: rgba(0,0,0,0.5);
}
footer .nav .nav-link.segneture {
  font-family:  'Marcellus', serif;
  font-size: 18px;
  padding-top: 0.4rem;
  margin-left: -1.3rem;
}
footer .nav .nav-link.segneture:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 9px;
  vertical-align: middle;
  background: url('./images/navlist-point.svg') center/cover no-repeat;
  margin-right: 1rem;
}
footer .container dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 0;
}
footer .container dl.serviceInfo dt {
  width: 125px;
}
footer .container dl.serviceInfo dd {
  width: calc(100% - 125px);
  margin-bottom: 14px;
}
footer .container dl.shopInfo dt {
  width: 80px;
}
footer .container dl.shopInfo dd {
  margin-right: 30px;
  margin-bottom: 0;
}
footer .container dl.shopInfo a {
  color: #000000;
  border-bottom: 1px #000 solid;
}

@media (min-width: 1200px) {
  footer .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  footer .container .row {
    align-items: center;
    margin-left: 120px;
  }
}
@media (max-width: 1199px) {
  footer .container {
    margin-top: 10px;
    margin-bottom: 30px;
    background-position: right bottom;
  }
  footer .nav {
    display: none;
  }
  footer .container .brand {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  footer .container {
    margin-top: 30px;
    background: none;
  }
  footer .container .brand {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobileOnly { display: none; }
}
@media (max-width: 991px) {
  .App {
    padding-top: 73px;
  }
}
